.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5rem;
}

.img {
  width: 7rem;
  height: 4rem;
  opacity: 1;
  padding-top: 0;
}

/* @media (min-width: 768px) {
  .img {
    top: 13px;
    left: 21px;
    width: 100px;
    height: 50px;
    opacity: 1;
  }
} */

